<div class="devices-container" appDevicePanel="{{ existAddDevicePanel }}">
  <div class="devices-section">
    <h2 class="page-title">
      APP Title
      <span>
        <b class="title-triangle"></b> {{ pageTitle }}
      </span>
    </h2>
    <h4 class="page-subtitle">If you can't explain it simply you don't understand it well enough.</h4>

    <div class="add-device-button" (click)="showDevicePanel()">+</div>
  
    <router-outlet></router-outlet>
  </div>
  
  <div class="adding-device-panel">
    <form [formGroup]="form" (ngSubmit)="addNewDevice(form.value)">
      <input class="textfield" type="text" placeholder="Device Name" name="deviceName" formControlName="name">
      <select class="dropdown" name="category" formControlName="category">
        <option value="Select Type" hidden disabled>Select Type</option>
        <option value="wemos-d1-r2">Wemos D1 R2</option>
        <option value="wemos-d1-r2-mini">Wemos D1 R2 mini</option>
        <option value="wf8266r">WF8266R</option>
      </select>
      <div class="radio-group">
        <input type="radio" name="ioType" formControlName="ioType" value="read"> 讀取
        <input type="radio" name="ioType" formControlName="ioType" value="write"> 控制
      </div>
      <button class="add-button" [disabled]="!form.valid">Add Device</button>
    </form>
  </div>
</div>